@using AracKiralamaSitesiCoreProje.Models
@model Musteri
@{
    ViewData["Title"] = "MusteriEkle";
    Layout = "~/Views/Shared/_AnaTema.cshtml";
}

<h1>Müşteri Ekleme Sayfası</h1>
<br />


<form method="post">
	<div class="form-group">
		<label>Müşteri Ad Soyad</label>
		<input class="form-control" asp-for="MusteriAdSoyad" />
	</div>

	<div class="form-group">
		<label>Müşteri TC</label>
		<input class="form-control" asp-for="MusteriTc" maxlength="11" minlength="11" pattern="\d{11}" title="11 haneli TC Kimlik Numarası giriniz" />
	</div>

	<div class="form-group">
		<label>Müşteri Telefon</label>
		<input class="form-control" asp-for="MusteriTelefon" maxlength="10" minlength="10" pattern="\d{10}" title="Başında 0 olmadan 10 haneli telefon giriniz" />
	</div>


	<div class="form-group">
		<label>Müşteri Şifre</label>
		<input class="form-control" asp-for="MusteriSifre" />
	</div>

	<br />

	<input type="submit" value="Kaydet" class="btn btn-success" />

</form>
